@import "../../styles/variables";

.cart-item {
  display: grid;
  grid-template-areas: "cover info meta";
  border-bottom: 1px solid gainsboro;
  grid-gap: 1em;
  padding-top: 1em;
  padding-bottom: 1em;

  &__cover {
    grid-area: cover;

    &-img {
      width: 128px;
      height: 128px;
    }
  }

  &__info {
    grid-area: info;

    &-title {
      margin: 0;
      font-size: 2rem;

      > * {
        margin: 0;
        padding: 0;
      }
    }
  }

  &__meta {
    grid-area: meta;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1em;

    .input-text {
      margin-left: 4px;
    }
  }

  /* In the Widget */
  &.small {
    font-size: 1.4rem;

    grid-template-areas:
      "cover info"
      "cover meta";

    .cart-item__cover {
      &-img {
        width: 48px;
        height: 48px;
      }
    }

    .cart-item__info {
      &-title {
        font-size: 1em;
        font-weight: 400;
      }
    }
  }
}
