@import "../../styles/variables";

.cart-icon {
  padding: 0.6rem 1rem;
  font-size: 3.2rem;
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &__number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    font-size: 1.2rem;
    font-style: normal;
    background: $color-pink;
    color: $color-gray-dimmer;
    border-radius: 50%;
    position: absolute;
    top: 20%;
    right: 0;
  }

  &:hover {
    transform: scale(1.2);
  }
}
