@import "../../styles/variables";

.cart-widget {
  position: absolute;
  background-color: $color-gray-dimmer;
  padding: 1em;
  right: 0;
  box-shadow: -1px 3px 5px 1px rgba(0, 0, 0, 0.1);
  width: 300px;
  display: none;

  &.show {
    display: block;
  }

  &__header {
    border-bottom: 1px solid $color-text-secondary;
    padding-top: 0.2rem;
    padding-bottom: 0.6rem;

    &-title {
      font-size: 1.75rem;
      line-height: 1;
      margin: 0;
    }
  }

  &__body {
    max-height: 300px;
    overflow-y: scroll;
  }

  &__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding-top: 1.6rem;

    .cart-widget__meta {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
