$color-purple: #9627ba;
$color-pink: #e03997;
$color-teal: #00b5ad;
$color-text-primary: #3e3b40;
$color-text-secondary: #716c7b;
$color-gray-dim: hsl(210, 20%, 96%);
$color-gray-dimmer: #f8f8f9;
$color-error-red: #9f3a38;
$color-error-red-light: #fff6f6;
$color-success-green: #2c662d;
$color-success-green-light: #fcfff5;

$family-font: "Roboto", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial,
  sans-serif;
