$color-purple: #9627ba;
$color-pink: #e03997;
$color-teal: #00b5ad;
$color-text-primary: #3e3b40;
$color-text-secondary: #716c7b;
$color-gray-dim: hsl(210,20%,96%);
$family-font: "Roboto", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial,
  sans-serif;
