@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap");

@import "./variables";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
body {
  font-family: $family-font;
  color: $color-text-primary;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 300;
}

#root {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // align-items: stretch;
}

a {
  color: $color-pink;
  text-decoration: none;
}
a:hover {
  color: $color-teal;
}

h1 {
  font-size: 4.4rem;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 2.8rem;
}

.emoji {
  margin-left: 1rem;
  margin-right: 1rem;
}

.container {
  max-width: 120rem;
  width: 100%;
  margin: 0 auto;
}

.main,
.ms-page {
  margin: 0 auto 3rem auto;
}

.main {
  width: 100%;
}

.ms-page {
  max-width: 80rem;
}

.input-text {
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);

  &.small {
    width: 5rem;
  }

  &:focus {
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.25);
  }
}

/* Register */
.button.mt-10 {
  margin-top: 1rem;
}
