@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap");

@import "./variables";

html {
  font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
body {
  font-family: $family-font;
  color: $color-text-primary;
}
body {
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 300;
}

#root {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // align-items: stretch;
}

a {
  color: $color-pink;
  text-decoration: none;
}
a:hover {
  color: $color-teal;
}

h1 {
  font-size: 4.4rem;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 2.8rem;
}

.emoji {
  margin-left: 1rem;
  margin-right: 1rem;
}

.container {
  max-width: 120rem;
  width: 100%;
  margin: 0 auto;
}

.main,
.ms-page {
  margin: 0 auto 3rem auto;
}

.main {
  width: 100%;
}

.ms-page {
  max-width: 80rem;
}

.page-header {
  h2.page-header__title,
  .page-header__title {
    margin-bottom: 0.5em;
    padding-top: 2rem;
  }
}

/* Car Page */
.car-info {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
}
.car-info_images img {
  max-width: 100%;
}
.car-info_content > * {
  margin-bottom: 2.4rem;
}
h2.car-info_title {
  font-size: 3.2rem;
}
.car-info_meta,
.car-info_description {
  color: $color-text-secondary;
}
.car-info_meta {
  font-size: 2.4rem;
}
.car-info_price {
  font-size: 1.8rem;
  color: $color-text-primary;
}
.car-info_price .price {
  font-size: 1.5em;
  margin-left: 0.4rem;
  margin-right: 0.4rem;
}

/* Register */
.button.mt-10 {
  margin-top: 1rem;
}

/* Car List */
.ui.list .item {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.ui.list .item .content > * {
  margin-bottom: 1.6rem;
}
.ui.list .item .content > *:last-child {
  margin-bottom: 0;
}
.ui.list .item .header {
  font-size: 2rem;
}
.ui.list .item .car-info_meta {
  font-size: 1.8rem;
  margin-right: 3.2rem;
  position: relative;
}
.ui.list .item .car-info_meta::after {
  content: "/";
  position: absolute;
  right: -2rem;
  top: 0.2rem;
  color: $color-teal;
}
.ui.list .item .car-info_price .price {
  color: $color-teal;
  font-weight: 400;
  font-size: 1em;
}
.ui.list .item .ui.button {
  font-size: 1.6rem;
}
