.form {
  width: 80%;
}

.form-control > * {
  display: block;
}

.form-control {
  margin-bottom: 1.6rem;

  label {
    margin-bottom: 0.6rem;
  }
  
  input, textarea {
    width: 100%;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);

    &:focus {
      outline: none;
      border: 1px solid rgba(0, 0, 0, 0.25);
    }
  }
}