.grid {
  display: grid;
  grid-gap: 1em;

  &.sw-3-1 {
    grid-template-columns: 3fr 1fr;
  }

  &.grid-1-1 {
    grid-template-columns: 1fr 1fr;
  }

  &.grid-1-3 {
    grid-template-columns: 1fr 3fr;
  }

  &.grid-1-1-1 {
    grid-template-columns: repeat(3, 1fr);
  }
}
