@import "../../styles/variables";

.checkout-status {
  width: 80%;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  &__item {
    text-align: center;
    padding: 1.6rem 0 0.6rem 0;
    // background: $color-gray-dimmer;
    border-bottom: 1rem solid $color-gray-dim;

    .title {
      color: $color-text-secondary;
    }

    &.active {
      border-color: $color-teal;

      .title {
        color: $color-teal;
      }
    }
  }
}
