@import "../../styles/variables";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
  border-bottom: 1px solid $color-border;
}

.navbar-brand {
  font-size: 5.4rem;
}

.navbar-nav {
  list-style: none;

  .navbar-nav__item {
    display: inline-block;

    a {
      margin-left: 1.6rem;
      padding: 0.6rem 1rem;

      &.active {
        background-color: $color-pink;
        color: white;

        &:hover {
          background-color: $color-teal;
        }
      }
    }

    .button {
      margin-left: 1.6rem;
    }
  }
}

.navbar-nav .navbar-nav__item .cart-item__info-title a {
  margin: 0;
  padding: 0;
}
