@import "../../styles/_variables.scss";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.brand {
  font-size: 5.4rem;
}

.navbar-nav {
  list-style: none;

  .navbar-nav__item {
    display: inline-block;

    a {
      margin-left: 1.6rem;
      padding: 0.6rem 1rem;

      &.active {
        background-color: $color-pink;
        color: white;

        &:hover {
          background-color: $color-teal;
        }
      }
    }
  }
}
