@import "../../styles/_variables.scss";

.message {
  margin: 1em auto;
  background: $color-gray-dim;
  padding: 1em 1.5em;
  border: 1px solid $color-gray-dimmer;

  h4.message__header {
    font-size: 1.8rem;
  }

  &.error {
    color: $color-error-red;
    background: $color-error-red-light;
  }

  &.success {
    color: $color-success-green;
    background: $color-success-green-light;
  }
}
