@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap");

:root {
  --color-purple: #9627ba;
  --color-pink: #e03997;
  --color-teal: #00b5ad;
  --color-text-primary: #3e3b40;
  --color-text-secondary: #716c7b;
  --family-font: "Roboto", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

html {
  font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
body {
  font-family: var(--family-font);
  color: var(--color-text-primary);
}
body {
  font-size: 1.6rem;
  font-weight: 300;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

a {
  color: var(--color-pink);
}

.emoji {
  margin-left: 1rem;
  margin-right: 1rem;
}

.ui.text.container,
.ui.form,
.ui.menu {
  font-size: 1.6rem;
}

.ui.button {
  font-family: var(--family-font);
  font-size: 2rem;
  font-weight: 300;
}

.ui.segment {
  border-radius: 0;
}

.ui.menu,
main {
  margin-bottom: 3rem;
}

.ui.menu {
  padding-top: 2rem;
}

.price,
.ui.card > .content > .meta + .description .price {
  color: var(--color-teal);
  font-size: 16px;
  font-weight: 700;
  text-align: right;
}

/* Car Page */
.car-info {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
}
.car-info_images img {
  max-width: 100%;
}
.car-info_content > * {
  margin-bottom: 2.4rem;
}
h2.car-info_title {
  font-size: 3.2rem;
}
.car-info_meta,
.car-info_description {
  color: var(--color-text-secondary);
}
.car-info_meta {
  font-size: 2.4rem;
}
.car-info_price {
  font-size: 1.8rem;
  color: var(--color-text-primary);
}
.car-info_price .price {
  font-size: 1.5em;
  margin-left: 0.4rem;
  margin-right: 0.4rem;
}

/* Register */
.ui.button.mt-10 {
  margin-top: 1rem;
}
