:root {
  --color-purple: #9627ba;
  --color-pink: #e03997;
  --color-teal: #00b5ad;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

a {
  color: var(--color-pink);
}

.emoji {
  margin-left: 1rem;
  margin-right: 1rem;
}

.ui.segment {
  border-radius: 0;
}

.ui.menu,
main {
  margin-bottom: 3rem;
}

.ui.menu {
  padding-top: 2rem;
}

.price,
.ui.card > .content > .meta + .description .price {
  color: var(--color-teal);
  font-size: 16px;
  font-weight: 700;
  text-align: right;
}

/* Car Page */
.car-info {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
}
.car-info_images img {
  max-width: 100%;
}
.car-info_content > * {
  margin-bottom: 1rem;
}

/* Register */
.ui.button.mt-10 {
  margin-top: 1rem;
}
