@import "../../styles/variables";

.checkout-page {
  &__sidebar {
    > * {
      margin-bottom: 2rem;
    }
    background: $color-gray-dimmer;
    padding-left: 1em;
    padding-right: 1em;

    &-title {
      margin-top: 1em;
      margin-bottom: 1em;
      text-align: center;
    }

    .order-status {
      strong {
        font-size: 1.75em;
      }
    }

    .price-status {
      line-height: 2;

      &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    .button {
      width: 100%;
    }
  }
}
